  <p>
  <%= f.error_messages %>
  </p>

  <p>
    Description: <%= f.text_field 'description' %>
  </p>
  <p>
    Category Type: <%= f.select 'category_type',dr_cr_selection %>
  </p>
  <p>
    <% selection = Category.find(:all).collect{|c| [c.description,c.id] unless c.id.eql?(@category.id) } %>
    Parent Category: <%= f.select 'parent_id',selection, :include_blank=>true %>
  </p>
  