<h1>Editing transaction</h1>

<% form_for(@transaction) do |f| %>
  <%= render :partial=>'form',:locals=>{:f=>f}  %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @transaction %> |
<%= link_to 'Back', transactions_path %>