<div class="content_title">
  <h2>Add Transaction</h2>
</div>
<% form_for(@transaction) do |f| %>
    <%= render :partial=>'form',:locals=>{:f=>f}  %>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
