<div class="container">
  <div class="span-24 last">
    <div class="footer_content">
      <ul>
        <li><%= link_to_function "About", "alert('We are trying to provide a best property management website for New Zealand house owners.');" %></li>
        <li><%= link_to_function "Contact", "alert('Please email to vmt024@gmail.com for any enquiry');" %></li>
      </ul>
      <div id="copyright">
      &copy; 2011 Vision Multimedia Technology Ltd.  All Rights Reserved. 
      </div>
      </div>
  </div>
</div>