<div class="header-content span-23">
  <div class="span-15" style="margin-left: 10px;">
    <p><h1 style="color:#FF6600; font-weight: bolder;">House Link</h1></p>
<p><h3 style="font-style: italic;">Your Property Management System</h3></p>
<h4>Benefits including: </h4>
<div class="span-1">&nbsp;</div>
<div class="span-6">
   <ul>
     <li>Property Transactions</li>
     <li>Tenants Management</li>
     <li>Smart Summary Report</li>
   </ul>
</div>
<div class="span-7">
  <ul>
     <li>Cash-flow Analysis</li>
     <li>Auto Email or Letter Notification</li>
     <li>More excellent features</li>
   </ul>
</div>
  </div>
<div class="span-7 last" style="padding-top:40px;">
  <div style="padding-left:75px;">
  <%= link_to image_tag('/images/home.png'), '/' %>
    </div>
  <div id="sign_up_container">
  <%= link_to "Sign Up Now !", new_user_url,:id=>'sign_up_button' %>
  </div>
</div>


<hr class="space"/>
  <p><div class="span-24 last" style="margin-left: 10px;"><h4>It is totally <span id="sign_up_free">Free</span>, so why not <%= link_to "Sign Up", new_user_url,:id=>'sign_up_link_header' %> today?</h4></div></p>
</div>
