<div class="content_title">
  <h2>Editing Property Account</h2>
</div>
<div class="options">
  <%= link_to image_tag('view.gif',:size=>'18x18') + 'Show', @property_account %>
</div>

<% form_for(@property_account) do |f| %>

  <%= render :partial=>'form',:locals=>{:f=>f} %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>