<div class="content_title">
  <h2>Watcher for Property</h2>
</div>

<table class="record_form">
  <tr>
    <th>Property: </th>
    <td>Property Name</td>
  </tr>
  <tr>
    <th>Current Watcher: </th>
    <td>Peterz</td>
  </tr>
  <tr>
    <th>Watcher Request: </th>
    <td>Tingting</td>
  </tr>

</table>
